<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="decotookdbConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Sina\Documents\decotookdb.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
